<!-- About Section -->
<section class="section about" id="{{SECTION_ID}}">
  <div class="content">
    <div class="text">
      <div class="section-number"></div>
      <h2 class="section-title">About Me</h2>
      <h3 class="section-subtitle">
        Overview
      </h3>

      <p class="section-description">
        Efficiency energizes me, so I focus on finding the sweet spot between
        rapid prototyping and scalable solutions - usually by staying curious
        and working with talented people.
      </p>

      <h3 class="section-subtitle">
        Core Beliefs
      </h3>
      <ul class="section-list">
        <li>
          <strong>I believe</strong> people come first. Strong teams build
          strong products.
        </li>
        <li>
          <strong>I'm committed</strong> to expanding access to engineering and
          challenging who we think "looks like" a developer.
        </li>
        <li>
          <strong>I optimize</strong> for fun and chase problems, not solutions.
        </li>
      </ul>
      <h3 class="section-subtitle">
        When I'm Not at Work
      </h3>
      <p class="section-description">
        You'll find me tending to my 3-month old high-energy Portuguese Water
        Dog, running trails, browsing library stacks, watching anime/K-dramas,
        teaching math at
        <a
          href="https://www.mindsmatterbay.org/"
          style="color: #4299e1; text-decoration: none;"
          >MMBay</a
        >
        (really just learning from my students), or prototyping ridiculous app
        ideas.
      </p>
    </div>
    <div class="visual about-visual"></div>
  </div>
</section>
